/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  width: 50%;
  margin: auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
